@import url('https://fonts.googleapis.com/css2?family=Inter+Tight&display=swap');

*{
    font-family: 'Inter Tight', sans-serif;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    background-color: #f2f2f2;
}

.disclaimer{
    font-size: 14px;
    padding-top: 10px;
}

.company-logo {
    max-width: 64px;
}
@media (max-width: 600px) {
    /* hide the third column on mobile */
    table td:nth-child(2),
    table th:nth-child(2) {
      display: none;
    }
  }