*{
    font-family: 'system-ui', sans-serif;
}

th {
    background-color: #f2f2f2;
}

.disclaimer{
    font-size: 14px;
    padding-top: 10px;
}

.company-logo {
    max-width: 64px;
}

.main-wrapper {
    max-width: 100rem;
}

tr {
    height: 5rem;
}